<div class="inputRow mb-2">
  <label [for]="label" class="visually-hidden">{{ label }}</label>

  <div class="inputWrapper" [class.hasError]="error">
    <input class="form-control" [type]="type" [placeholder]="placeholder" [value]="model" (input)="onInput($event)"
      (blur)="blur.emit()" />

    @if (icon) {
    <img class="inputIcon" [src]="icon" width="24" height="24" aria-hidden="true" />
    }
  </div>

  @if (error) {
  <div class="text-danger small ps-2 errorMessage" [id]="label + 'Error'" role="alert">
    {{ error }}
  </div>
  }
</div>
