@use 'styles/variables' as *;

.btn {
  border-radius: $base-border-radius;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-sm;
  border-radius: $base-border-radius;
  padding: 12px 24px;
  transition: $trans-default;
  font-weight: 400;

  &:hover {
    filter: $sh-stronger;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: none;
    }
  }

  // Variants
  &--primary {
    color: $white;
    background-color: $blue-dark;
    font-weight: bold;

    &:hover {
      background-color: $blue-light;
    }

    &:active {
      color: $white;
      background-color: $blue-darker;
    }
  }

  &--secondary {
    color: $blue-dark;
    background-color: transparent;
    border: 1px solid $blue-dark;
    font-weight: bold;

    &:hover {
      border-color: $blue-light;
      color: $blue-light;
      filter: none;
    }
  }

  &--low,
  &--medium,
  &--urgent {
    color: $black;
    background-color: $white;
    filter: $sh-stronger;

    &:active {
      color: $white;
      font-weight: bold;
      filter: none;
    }
  }

  // Icons
  &[class*="icon--"] {
    &::after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.icon--add {
    &::after {
      background-image: url('/assets/icons/add-white-24px.svg');
    }
  }

  &.icon--create {
    &::after {
      background-image: url('/assets/icons/check-white-24px.svg');
    }
  }

  &.icon--cancel {
    &::after {
      background-image: url('/assets/icons/cancel-dark-24px.svg');
    }

    &:hover::after {
      background-image: url('/assets/icons/cancel-blue-24px.svg');
    }
  }

  &.icon--low,
  &.icon--medium,
  &.icon--urgent {
    &::after {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.icon--low {
    &:active {
      background-color: $green;
    }

    &::after {
      background-image: url('/assets/icons/prio-low-20px.svg');
    }

    &:active::after {
      background-image: url('/assets/icons/prio-low-white-20px.svg');
    }
  }

  &.icon--medium {
    &:active {
      background-color: $orange;
    }

    &::after {
      background-image: url('/assets/icons/prio-medium-20px.svg');
    }

    &:active::after {
      background-image: url('/assets/icons/prio-medium-white-20px.svg');
    }
  }

  &.icon--urgent {
    &:active {
      background-color: $red;
    }

    &::after {
      background-image: url('/assets/icons/prio-urgent-20px.svg');
    }

    &:active::after {
      background-image: url('/assets/icons/prio-urgent-white-20px.svg');
    }
  }
}
