@use 'styles/variables' as *;

.btn {
  border-radius: $base-border-radius;
  cursor: pointer;
  line-height: 1.2;
  font-weight: bold;

  &--primary {
    font-size:1.125rem;
    font-weight: 700;
    color: white;
    transition: all 0.125s ease-in;
    background-color: $blue-darker;
  }

  &--secondary {
    font-size:1.125rem;
    font-weight: 700;
    color: white;
    transition: all 0.125s ease-in;
    background-color: $blue-darker;
  }
}
