@use 'styles/variables' as *;

div.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

div.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 90%;
  max-width: 75.75rem;
  min-height: 37rem;
  background: $white;
  border-radius: $card-border-radius;
  overflow: hidden;
}

div.modal-content{
  height: 100%;
}

.close-btn {
  position: absolute;
  top: $space-md;
  right: $space-md;
  z-index: 1060;
}
