<div class="task-card mb-2">

  @if (task.category) {
  <span class="category" [ngClass]="getCategoryClass()">
    {{ task.category }}
  </span>
  }

  <div class="task-header d-flex justify-content-between align-items-center">
    <h5>{{ task.title }}</h5>
  </div>

  @if (task.description) {
  <p>{{ task.description }}</p>
  }

  @if (task.subtasks.length || task.contacts.length) {
  <div class="info-row">

    @if (task.subtasks.length) {
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress" [style.width.%]="subtaskPercent"></div>
      </div>
      <small>{{ completedSubtasks }}</small>
    </div>
    }

    <div class="bottom-row">

      @if (task.contacts.length) {
      <div class="avatars">
        @for (c of task.contacts; track c.id) {
        <span class="avatar" [style.background]="c.color">
          {{ initials(c.name) }}
        </span>
        }

      </div>
      }

      <div class="priority-icon" [ngClass]="'priority-' + task.priority.toLowerCase()">

        @if (task.priority.toLowerCase() === 'urgent') {
        <img src="assets/icons/prio-urgent-red-20px.svg" alt="Urgent Priority" />
        }

        @if (task.priority.toLowerCase() === 'medium') {
        <img src="assets/icons/prio-medium-20px.svg" alt="Medium Priority" />
        }

        @if (task.priority.toLowerCase() === 'low') {
        <img src="assets/icons/prio-low-20px.svg" alt="Low Priority" />
        }

      </div>
    </div>
  </div>
  }
</div>
