@use 'styles/variables' as *;

header{
  height: 6rem;
  background-color: $white;
  width: 100%;
  filter: $sh-header;
}

#slogan{
  color: $blue-dark;
  padding-left: 6rem;
}

#header-right{
  padding-right: 2.5rem;
}

.userProfile{
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid $black;
  color: $blue-light;
  border-radius: 100%;
  cursor: pointer;
  &:hover{
    background-color: $grey-light;
  }
}
