<header class="d-flex flex-row justify-content-between align-items-center position-relative">
  <div class="header-left">
    <div id="slogan">
      <h4>Kanban Project Management Tool</h4>
    </div>
  </div>
  <div id="header-right" class="d-flex gap-3 align-items-center">
    <div class="help">
      <a routerLinkActive="active" routerLink="/help" class=""><img src="/assets/icons/help-big-32px.svg"
          alt="Help Icon" /></a>
    </div>
    <div class="userProfile d-flex justify-content-center align-items-center" (click)="toggleMenu($event)"
      [class.active]="menuOpen"> MM </div>
    <div class="userMenu" [class.visible]="menuOpen">
      <nav>
        <ul class="p-1 p-md-3">
          <li><a routerLink="/legal-notice">Legal Notice</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
