@use 'styles/mixins' as *;

ol {
  li {
    counter-increment: my-counter;
    padding-left: 4rem;
    font-size: 1rem;
    vertical-align: top;
    position: relative;

    &::before {
      content: counter(my-counter) ".";
      line-height: 1.2;
      font-size: 2rem;
      font-weight: bold;
      position: absolute;
      top: 0rem;
      left: 0rem;
    }
  }
}

div.container{
  padding-bottom: 5rem;

  @include for-size(lg) {
    padding-bottom: 2rem;
  }
}
