/* contact-details.scss */

.ContactDetails {
  width: 60%;
  border-radius: 10px;
  padding: 32px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);

  >div:nth-child(3) {
    margin-top: 35px;

    h4 {
      font-size: 1.125rem;
      font-weight: 700;
      color: #000000;
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    >div {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        display: block;
        font-weight: 700;
        color: #000000;
        margin-bottom: 8px;
        font-size: 0.875rem;
      }

      div {
        font-size: 1rem;
        color: #595959;

        a {
          color: #2A6FD6;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

