@use 'styles/variables' as *;

.ContactDetails {

  >div:nth-child(3) {
    margin-top: 35px;

    h4 {
      font-size: 1.125rem;
      font-weight: 700;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    >div {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        display: block;
        font-weight: 700;
        color: #000000;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
      }

      div {
        font-size: 1rem;
        color: #595959;

        a {
          color: #2a6fd6;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .contact-card {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    transition: $trans-default;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-avatar {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    flex-shrink: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  }

  label {
    font-weight: 700;
  }

  .contact-name {
    font-size: 1.875rem;
    font-weight: 700;
    color: #141517;
  }

  .contact-actions {
    display: flex;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0;
      border: none;
      cursor: pointer;
      font-size: 0.875rem;
      color: #141517;
      transition: $trans-default;

      img {
        width: 1rem;
        height: 1rem;
        transition: $trans-default;
      }

      &:hover {
        font-weight: 700;
        color: $blue-light;

        img {
          filter: invert(69%) sepia(69%) saturate(3474%) hue-rotate(165deg) brightness(94%) contrast(87%);
        }
      }
    }
  }
}

.fadeIn {
  animation: fadeInAnimation 0.4s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
