.ContactDetails {
  width: 60%;
  border-radius: 10px;


  >div:nth-child(3) {
    margin-top: 35px;

    h4 {
      font-size: 1.125rem;
      font-weight: 700;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    >div {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        display: block;
        font-weight: 700;
        color: #000000;
        margin-bottom: 8px;
        font-size: 0.875rem;
      }

      div {
        font-size: 1rem;
        color: #595959;

        a {
          color: #2a6fd6;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .contact-card {
    display: flex;
    gap: 42px;
    border-radius: 8px;
    transition: background 0.3s ease;
    padding-top: 8px;
    padding-bottom: 8px;

  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    flex-shrink: 0;
  }

  .contact-name {
    flex: auto;
    font-size: 30px;
    font-weight: 700;
    color: #141517;
  }

  .contact-actions {
    display: flex;
    gap: 4px;

    button {
      display: flex;
      align-items: center;
      gap: 2px;
      padding: 6px 10px;
      border: none;
      border-radius: 8px;
      font-weight: 700;
      cursor: pointer;
      font-size: 14px;
      color: #141517;
      transition: all 0.3s ease;

      img {
        width: 16px;
        height: 16px;
      }

      &+button {
        margin-left: 6px;
      }

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

.fadeIn {
  animation: fadeInAnimation 0.4s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
