<!-- contact-details -->

<div class="ContactDetails">
  <app-contact-edit-form *ngIf="isContactModalOpen" [contact]="selectedContact" (closed)="closeModal()"
    (saved)="onEditSaved()" (deleted)="onEditDeleted()" />

  @if (!contact) {
  <div>Select a contact to view details</div>
  }

  @if (contact) {
  <div class="fadeIn contact-card">
    <div class="contact-avatar" [style.background]="contact.color">
      {{ contact.initials }}
    </div>

    <div class="contact-info">
      <div class="contact-name">
        {{ contact.name }}
      </div>

      <div class="contact-actions">
        <button (click)="openEdit(contact)" title="Edit contact" aria-label="Edit contact">
          <img src="assets/icons/edit-dark-24px.svg" alt="Edit" />
          Edit
        </button>

        <button (click)="remove.emit(contact)" title="Delete contact" aria-label="Delete contact">
          <img src="assets/icons/delete-dark-24px.svg" alt="Delete" />
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="fadeIn d-flex flex-column gap-3">
    <h5 class="pt-5 pb-2">Contact Information</h5>

    <div>
      <label>Email</label>
      <div>
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      </div>
    </div>

    <div>
      <label>Phone</label>
      <div>
        <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
      </div>
    </div>
  </div>
  }
</div>
