@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.container {
  max-width: 100%;
}

.taskboard-columns-header {
  --bs-gutter-x: 1.625rem;
  --bs-gutter-y: 0;

  @include for-size(lg) {
    margin: 0 calc(-1.625rem / 2);
  }
}

.taskboard-inner {
  height: 100%;

  @include for-size(lg) {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }
}

.taskboard-column {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include for-size(lg) {
    padding: 0 calc(1.625rem / 2);
  }
}

.kanban-column {
  flex-grow: 1;

  &--ml {
    @include for-size(lg) {
      margin-left: calc(-1.625rem / 2);
    }
  }

  &--mr {
    @include for-size(lg) {
      margin-right: calc(-1.625rem / 2);
    }
  }

  & * {
    scrollbar-width: none;
  }
}

.taskboard-scroll {
  overflow: visible;
  gap: 1.75rem;

  @include for-size(lg) {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    gap: unset;
    --bs-gutter-x: 1.625rem;
    scrollbar-width: none;
  }
}

h2 {
  font-size: 1.75rem;

  @include for-size(lg) {
    font-size: 1.25rem;
  }
}

.board-list-add-button {
  transition: $trans-default;
  width: 1.875rem;
  height: 1.875rem;

  img {
    transition: $trans-default;
  }

  &:hover {
    border-color: $blue-light !important;

    img {
      filter: invert(66%) sepia(55%) saturate(3372%) hue-rotate(165deg) brightness(95%) contrast(86%);
    }
  }

  @include for-size(lg) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.task-item {
  max-width: 16rem;
  min-width: 16rem;

  @include for-size(lg) {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
}
