/* contact-header.scss */

.contact-header {
  font-size: 1rem;
  color: #141517;
  padding: 5rem 0 2.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }

  .subline {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
  }

  .separator {
    width: 2px;
    height: 3rem;
    background: #29abe2;
  }
}
