/* contact-header.scss */

.contact-header {
  font-size: 1rem;
  color: #141517;
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  .separator {
    width: 2px;
    height: 48px;
    background: #29abe2;
  }
}
