@use 'styles/variables' as *;
@use 'styles/mixins' as mixins;

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul.subtask-list {
  list-style: disc;
  max-height: calc(3.5 * 2.25rem);
  overflow-y: auto;

  li {
    padding-left: 0.5rem;

    .btn-link {
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover .btn-link {
      opacity: 1;
    }
  }
}

.input-group img,
.btn-link img {
  vertical-align: middle;
}

input{
  flex: 1;
  padding-right: 0;
  border: 1px solid $grey-light;
  border-radius: $base-border-radius;
  height: 3rem;
  &:focus{
    box-shadow: none;
  }
  &::placeholder{
    color: $grey-light
  }
}
.input-group{
  input{
    border-radius: $base-border-radius !important;
  }
  button{
    position: absolute;
    border: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover{
      background: none;
    }
    &.clear{
      right: 2rem;
      &:after{
        content: '';
        position: absolute;
        height: 1.5rem;
        width: 1px;
        top:.50rem;
        right: 0.5rem;
        background-color: $grey-light;
      }
    }
  }
}
