@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $off-white;
  display: flex;
  flex-direction: row;
}
