@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $off-white;
  width: 100%;
}

div.container{
  padding: 5rem 6rem;
  max-width: 63.5rem;
  margin: 0;
}
