@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $off-white;
  width: 100%;

  &:has(.cdk-drag-preview) {
    cursor: grabbing;
  }
}

div.container{
  padding: 3rem 2rem;
  max-width: 90rem;
  margin: 0;

  @include for-size(lg) {
    padding: 5rem 6rem;
  }
}

.cdk-drag-preview {
    overflow: visible !important;
    box-shadow: none !important;

}

.cdk-drag-preview > div {
  transform: rotate(5deg) scale(1.02) !important;
  transform-origin: center !important;
  overflow:visible !important;
}

