@font-face {
  font-display: swap;
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/assets/fonts/Inter-Light-BETA.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/assets/fonts/Inter-Bold.woff') format('woff');
}
