@use './variables' as *;

// Utility Mixins
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Media Queries
@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 37.43rem) { @content; }
  } @else if $size == tablet-portrait {
    @media (min-width: 37.5rem) { @content; }
  } @else if $size == tablet-landscape {
    @media (min-width: 56.25rem) { @content; }
  } @else if $size == desktop {
    @media (min-width: 75rem) { @content; }
  } @else if $size == big-desktop {
    @media (min-width: 112.5rem) { @content; }
  }
}
