body {
  font-family: 'Inter-Regular', system-ui, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Inter-Bold';
  font-weight: 700;
  line-height: 100%;
}

// 64px
h1{
  font-size: 4;
}
// 61px???
h2{
  font-size: 3,8125rem;
}
// 47px???
h3{
  font-size: 2,9375rem;
}
// 20px
h4{
  font-size: 1,25rem;
}
