body {
  font-family: 'Inter-Regular', system-ui, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Inter-Bold';
  font-weight: 700;
  line-height: 100%;
}

h1{
  font-size: 4.5rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 1.25rem;
}
