body {
  font-family: 'Inter-Regular', system-ui, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter-Bold';
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

// 64px
h1{
  font-size: 4rem;
}

// 61px???
h2{
  font-size: clamp(2.5rem, 5vw, 3.8125rem);
}

// 47px???
h3{
  font-size: 2.9375rem;
}

// 28px
h4{
  font-size: 1.75rem;
}

// 20px
h5{
  font-size: 1.25rem;
  margin-bottom: 0;
}

p{
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
