<section class="contact-picker flex-column">
  <app-input-field
    type="text"
    class="form-input"
    label="Assigned To"
    placeholder="Assigned To"
    [model]="searchTerm()"
    (modelChange)="searchTerm.set($event)"
    (input)="open()"
  >
  </app-input-field>

  @if (isOpen()) {
    <ul class="contact-picker__dropdown">
      @for (c of filteredContacts(); track c.id) {
        <li class="contact-picker__item" (click)="toggleContact(c.id)">
          <abbr class="contact-picker__avatar" [title]="c.name" [style.background]="c.color">
            {{ getInitials(c.name) }}
          </abbr>

          <span class="contact-picker__label">{{ c.name }}</span>
          <input
            type="checkbox"
            class="contact-picker__checkbox"
            [checked]="isSelected(c.id)"
            (click)="$event.stopPropagation(); toggleContact(c.id)"
          />
        </li>
      } @empty {
        <li class="contact-picker__empty">No contacts found</li>
      }
    </ul>
  }

  @if (selectedContacts().length > 0) {
    <ul class="contact-picker__chips">
      @for (c of selectedContacts(); track c.id) {
        <li>
          <abbr class="contact-picker__chip" [title]="c.name" [style.background]="c.color">
            {{ getInitials(c.name) }}
          </abbr>
        </li>
      }
    </ul>
  }
</section>
