@use 'styles/mixins' as *;

.ContactsLayout {
  display: flex;
  height: 100%;
  overflow-x: hidden;

  .right {
    padding: 2rem 2rem;
    width: 100%;

    @include for-size(lg) {
      padding: 5rem 3.375rem 2rem 3.375rem;
    }

  }
}
