.ContactsLayout {
  display: flex;
  height: 100%;
  overflow-x: hidden;

  .right {
    width: 60%;
  }

  @media (max-width: 992px) {

    .left,
    .right {
      padding: 0 1.5rem;
      width: 100%;
    }

    .left {
      padding: 0;
    }

  }
}