
.ContactsLayout {
  display: flex;
  height: 100%;
  gap: 40px;
}

/* LINKE SEITE (Kontaktliste) */
.ContactsList {
  width: 40%;
}

.SearchInput {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 100%;
  height: 56px;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
  box-sizing: border-box;

  input {
    flex: 1;;
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;


    &::placeholder {
      color: #A8A8A8;
    }
  }

  img {
    filter: brightness(0) invert(1);
  }
}

/* RECHTE SEITE (Detailansicht) */
.ContactDetails {
  width: 60%;
}
