<div class="mb-3">
  @if (label) {
    <label [for]="label" class="form-label"
      >{{ label }}
      @if (isRequired) {
        <span class="required-asterisk" aria-hidden="true"><span class="text-danger">*</span></span>
      }
    </label>
  }

  <select [id]="label" class="form-control" [value]="selectedValue">
    <option value="" disabled selected>{{ preselectedValue }}</option>

    @for (option of options; track option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>

  @if (errorMessage) {
    <div class="text-danger">{{ errorMessage }}</div>
  }
</div>
