@use 'styles/variables' as *;

div.card{
  display: flex;
  border-radius: $card-border-radius;
  filter: $sh-card;
  padding: 1rem;

  &--light{
    color: $blue-darker;
    background: $white;
  }
  &--dark{
    color: $white;
    background: $blue-dark;
  }
}
