@use 'styles/variables' as *;
@use 'styles/mixins' as *;

* {
  transition: $trans-default;
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem;

  @include for-size(sm) {
    padding: 2rem 2rem 1.5rem 2rem;
  }

  @include for-size(lg) {
    padding: 3rem 3rem 1.5rem 3rem;
  }

  .card {
    width: 100%;
    max-width: 40.75rem;
    background: $white;
    border-radius: $card-border-radius;
    animation: fadeOut 0.2s ease-in-out;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }
}

a {
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $blue-light;
    font-weight: 700;
  }
}

h3 {
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;

  @include for-size(sm) {
    font-size: 3rem;
  }
}

.blue-divider {
  height: 3px;
  width: minmax(30%, 9.375rem);
  background: $blue-light;
  display: block;
  margin: 0 auto;
}

.logo-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blue-dark;
  z-index: 5000;
  animation: introBgFade 1.25s ease forwards;
  animation-delay: 1s;
  pointer-events: none;
  opacity: 1;

  @include for-size(lg) {
    background: $off-white;
  }
}

.header {
  position: relative;
  z-index: 5001;
  min-height: 5rem;
}

.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5002;
  width: 4rem;
  height: auto;
}

@include for-size(lg) {
  .header .logo.default {
    display: none;
  }
}

.header.intro-enabled .logo.default {
  animation: logoDefault-sm 1.25s ease forwards;
}

.header.intro-enabled .logo.dark {
  animation: logoDark-sm 1.25s ease forwards;
}

@include for-size(lg) {
  .header.intro-enabled .logo.dark {
    animation: logoDark-lg 1.25s ease forwards;
  }
}

/* Keyframes - still need to check again because of responsiveness */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes introBgFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@keyframes logoDefault-sm {

  0%,
  50% {
    top: calc(50vh - 4rem);
    left: calc(50vw - 4rem);
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes logoDark-sm {

  0%,
  50% {
    top: calc(50vh - 4rem);
    left: calc(50vw - 4rem);
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(0.64);
    opacity: 1;
  }
}
