@use 'styles/mixins' as *;

.board {
  padding: 3rem 1rem;
  overflow:auto;
  max-height: calc(100dvh - 6rem);

  @include for-size(sm) {
      padding: 3rem 3rem;
    }

  @include for-size(md) {
      padding: 4rem 4rem;
    }

  @include for-size(lg) {
    padding: 5rem 6rem;
    overflow: hidden;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ::ng-deep app-input-field {
      margin-bottom: 0;
    }
  }
}
