<main class="board">
  <header class="board__header">
    <h2>Board</h2>
    <nav class="d-flex align-items-center gap-5" aria-label="Board actions">
      <app-input-field type="text" label="Search tasks" placeholder="Find task" icon="assets/icons/search-32px.svg" />
      <ui-button type="button" variant="primary" icon="add" (click)="openAdd()">Add task</ui-button>
    </nav>
  </header>

  <section class="task-board">
    <app-task-board (open)="openDetail($event)"></app-task-board>
  </section>

  <div class="modal-backdrop" *ngIf="isModalOpen()" (click)="closeModal()"></div>


  <div class="modal-container" *ngIf="isModalOpen()">

    <div class="modal" *ngIf="modalMode === 'add'">
      <div class="modal-header">
        <h2>Add Task</h2>
        <button class="modal-close" (click)="closeModal()">×</button>
      </div>
      <div class="modal-body">
        <app-add-task></app-add-task>
      </div>
    </div>

    <div class="modal" *ngIf="modalMode === 'detail' && selectedTask()">
      <div class="modal-header">
        <h2>{{ selectedTask()?.title }}</h2>
        <button class="modal-close" (click)="closeModal()">×</button>
      </div>

    </div>
  </div>
</main>