<div id="sideNav">
  <div id="logo">
    <a routerLink="/"><img src="/assets/icons/logo-join-default-100px.svg" alt="Join Logo" /></a>
  </div>
  <nav id="main-nav">
    <ul class="d-flex flex-column">
      <li routerLinkActive="active">
        <a routerLink="/summary"
          ><img class="default" src="/assets/icons/nav-summary-30px.svg" alt="Summary Icon" /><img
            class="active"
            src="/assets/icons/nav-summary-white-30px.svg"
            alt="Summary Icon"
          />Summary</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/add-task"
          ><img
            class="default"
            src="/assets/icons/nav-add-tasks-30px.svg"
            alt="Add Task Icon"
          /><img
            class="active"
            src="/assets/icons/nav-add-tasks-white-30px.svg"
            alt="Add Task Icon"
          />Add Task</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/board"
          ><img class="default" src="/assets/icons/nav-board-30px.svg" alt="Board Icon" /><img
            class="active"
            src="/assets/icons/nav-board-white-30px.svg"
            alt="Board Icon"
          />Board</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contacts"
          ><img class="default" src="/assets/icons/nav-contact-30px.svg" alt="Contacts Icon" /><img
            class="active"
            src="/assets/icons/nav-contacts-white-30px.svg"
            alt="Contacts Icon"
          />Contacts</a
        >
      </li>
    </ul>
  </nav>
  <nav id="footer-nav">
    <ul>
      <li routerLinkActive="active"><a routerLink="/privacy-policy">Privacy Policy</a></li>
      <li routerLinkActive="active"><a routerLink="/legal-notice">Legal Notice</a></li>
    </ul>
  </nav>
</div>
