@use 'styles/variables' as *;

#sideNav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;
  background:$blue-dark;
  height: 100vh;
  padding: 4rem 0;
}

#main-nav{
  width: 100%;
  li{
    padding: $space-sm 0;
  }
  ul{
    width: 100%;
    padding: 0;
  }
}

a{
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  color: $grey-light2;
  padding-left: 3.5rem;
  &:hover{
    background: $blue-dark-hover;
  }
}

