<div id="sideNav">
  <div id="logo">
    <a routerLink="/"><img src="/assets/icons/logo-join-default-100px.svg" alt="Join Logo" /></a>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a routerLink="">Summary</a></li>
      <li><a routerLink="">Add Task</a></li>
      <li><a routerLink="">Board</a></li>
      <li><a routerLink="">Contacts</a></li>
    </ul>
  </nav>
  <nav id="footer-nav">
    <ul>
      <li><a routerLink="">Privacy Policy</a></li>
      <li><a routerLink="">Legal notice</a></li>
    </ul>
  </nav>
</div>
