@use 'styles/variables' as *;

#sideNav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;
  background:$blue-dark;
  height: 100vh;
  padding: 4rem 0;
}

#main-nav{
  width: 100%;
  ul{
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  li{
    img{
        &.active{
          display: none;
        }
        &.default{
          display: flex;
        }
      }
    &.active{
      background: $blue-darker;
      a{
        color: $white;
        &:hover{
          background: $blue-darker;
        }
      }
      img{
        &.active{
          display: flex;
        }
        &.default{
          display: none;
        }
      }
    }
  }
  a{
    display:flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: $grey-light2;
    padding: $space-sm 0 $space-sm 3.5rem;
    &:hover{
      background: $blue-dark-hover;
    }
  }
}

#footer-nav{
  ul{
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }
  a{
    color: $grey;
    &:hover{
      color: $blue-light;
      font-weight: 700;
    }
  }
}
