@use 'styles/variables' as *;

#sideNav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;
  background:$blue-dark;
  height: 100vh;
  padding: 4rem 0;
}

#main-nav{
  width: 100%;
  ul{
    width: 100%;
    padding: 0;
  }

  a{
    cursor: pointer;
    color: $grey-light2;
    padding: $space-sm 0 $space-sm 3.5rem;
    &:hover{
      background: $blue-dark-hover;
    }
  }
}

a{
  text-decoration: none;
}
