@use 'styles/variables' as *;

.feedback {
  position: fixed;
  right: -100%;
  bottom: 40px;
  background: $blue-dark;
  color: $white;
  padding: 1rem 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  transition: right 0.6s ease, opacity 0.6s ease;
  max-width: 260px;
  opacity: 0;
  text-align: center;
  z-index: 2000;

  &.visible {
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
}
