@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.modal-title-area {
  background-color: $blue-darker;
  position: relative;

  p,
  h2 {
    color: $white;
  }
}

.contact-avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: $grey;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);

  @include for-size(lg) {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 3rem;
  }
}

.visually-hidden {
  @include visually-hidden;
}

@media (max-width: 992px) {
  .contact-avatar {
    position: absolute;
    top: -50px;
    right: 50%;
    transform: translateX(50%);
    border: 2px solid $white;
  }
}
