<ui-modal-wrapper (close)="onCancel()" id="contact-add-form">
  <div class="modal-inner d-flex flex-column h-100 w-100">
    <div class="row g-0 flex-grow-1 h-100">

      <!-- Linke Spalte -->
      <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-start modal-title-area p-3 py-5 p-md-5 pt-5 gap-0">
        <img src="/assets/icons/logo-join-default-100px.svg" alt="Join Logo" />
        <h2 class="mt-4">Edit contact</h2>
        <div class="blue-divider mt-3"></div>
        <div class="initialism d-flex d-inline-flex align-items-center justify-content-center rounded-circle d-md-none">
          <img src="/assets/icons/person-white-64px.svg" alt="Initialism">
        </div>
      </div>

      <!-- Rechte Spalte -->
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center py-4 py-md-0 h-100">
        <form (ngSubmit)="save()" class="p-3 mt-5 mt-md-0 p-md-5 d-flex flex-column gap-2 modal-content-area">

            <app-input-field type="text" label="Name" placeholder="Name" icon="assets/icons/form-person-24px.svg"
              [(model)]="form.name" [error]="errors.name" (blur)="markDirty('name')" (input)="liveValidate('name')" />

            <app-input-field type="email" label="Email" placeholder="Email" icon="assets/icons/form-mail-24px.svg"
              [(model)]="form.email" [error]="errors.email" (blur)="markDirty('email')"
              (input)="liveValidate('email')" />

            <app-input-field type="tel" label="Phone" placeholder="Phone" icon="assets/icons/form-phone-24px.svg"
              [(model)]="form.phone" [error]="errors.phone" (blur)="markDirty('phone')"
              (input)="liveValidate('phone')" />

          <div class="d-flex gap-4 mt-2 justify-content-center justify-content-md-start">
            <button type="button" class="btn deleteBtn d-flex align-items-center gap-1 d-none d-md-block" (click)="delete()"
              aria-label="Delete contact">
              Delete
            </button>
            <button type="submit" class="btn saveBtn d-flex align-items-center gap-1" [disabled]="!isFormValid()"
              aria-label="Save changes">
              Save
              <span class="iconWrapper">
                <img class="icon defaultIcon" src="assets/icons/check-white-24px.svg" width="24" height="24"
                  aria-hidden="true">
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ui-modal-wrapper>
