@use 'styles/variables' as *;
@use 'styles/mixins' as mixins;

.modal-title-area {
  background-color: $blue-darker;
  position: relative;

  p,
  h2 {
    color: $white;
  }
}

.logo {
  width: 60px;
  height: auto;
}

.initialism {
  position: absolute;
  bottom: -60px;
  right: 50%;
  transform: translateX(50%);
  width: 120px;
  height: 120px;
  background-color: $grey-light;
  border: 3px solid $white;
}

.iconWrapper {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;

  .icon {
    position: absolute;
    inset: 0;
    transition: opacity 0.2s ease;
  }

  .hoverIcon {
    opacity: 0;
  }
}

.closeBtn {
  background-color: transparent;
  color: $blue-darker;
  border: 1px solid $blue-darker;
  padding: 0.5rem 1rem;
  transition: $trans-default;

  &:hover {
    color: $blue-light;
    border-color: $blue-light;

    .hoverIcon {
      opacity: 1;
    }

    .defaultIcon {
      opacity: 0;
    }
  }
}

.addBtn {
  background-color: $blue-darker;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  transition: $trans-default;

  &:hover {
    background-color: $blue-light;
  }

  &:disabled {
    background-color: $blue-dark;
    font-weight: normal;
    cursor: not-allowed;
  }
}
