<h3>Add Contact</h3>

<form (ngSubmit)="submit()">

  <!-- NAME -->
  <label>Name:</label>
  <input [(ngModel)]="form.name" name="name" (blur)="validateName()" />

  @if (errors.name) {
  <div style="color:red; margin-bottom: 8px;">
    {{ errors.name }}
  </div>
  }

  <!-- EMAIL -->
  <label>Email:</label>
  <input [(ngModel)]="form.email" name="email" (blur)="validateEmail()" />

  @if (errors.email) {
  <div style="color:red; margin-bottom: 8px;">
    {{ errors.email }}
  </div>
  }

  <!-- PHONE -->
  <label>Phone:</label>
  <input [(ngModel)]="form.phone" name="phone" (blur)="validatePhone()" />

  @if (errors.phone) {
  <div style="color:red; margin-bottom: 8px;">
    {{ errors.phone }}
  </div>
  }

  <button type="submit" [disabled]="!isFormValid()">
    Add
  </button>
</form>
