<ui-modal-wrapper (close)="onCancel()" id="contact-add-form">
  <div class="modal-inner d-flex flex-column h-100 w-100">
    <div class="row g-0 flex-grow-1 h-100">

      <div
        class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-start modal-title-area p-3 py-5 p-md-5 pt-5 gap-0">
        <img src="/assets/icons/logo-join-default-100px.svg" alt="Join Logo" class="logo d-none d-md-block" />
        <h2 class="mt-4">Add contact</h2>
        <p class="fs-4 mb-2">Tasks are better with a team!</p>
        <div class="blue-divider mb-5"></div>
        <div class="initialism d-flex d-inline-flex align-items-center justify-content-center rounded-circle d-md-none">
          <img src="/assets/icons/person-white-64px.svg" alt="Initialism">
        </div>
      </div>

      <div class="col-12 col-md-7 d-flex flex-column justify-content-center py-4 py-md-0 h-100">
        <form (ngSubmit)="submit()" class="p-3 mt-5 mt-md-0 p-md-5 d-flex flex-column gap-2 modal-content-area">

          <app-input-field type="text" label="Name" placeholder="Name" icon="assets/icons/form-person-24px.svg"
            [(model)]="form.name" [error]="errors.name" (blur)="markDirty('name')" (input)="liveValidate('name')" />

          <app-input-field type="email" label="Email" placeholder="Email" icon="assets/icons/form-mail-24px.svg"
            [(model)]="form.email" [error]="errors.email" (blur)="markDirty('email')" (input)="liveValidate('email')" />

          <app-input-field type="tel" label="Phone" placeholder="Phone" icon="assets/icons/form-phone-24px.svg"
            [(model)]="form.phone" [error]="errors.phone" (blur)="markDirty('phone')" (input)="liveValidate('phone')" />

          <div class="d-flex gap-4 mt-2 justify-content-center justify-content-md-start">

            <ui-button type="button" variant="secondary" icon="cancel" class="d-none d-md-inline-flex"
              [disabled]="isSaving" (click)="onCancel()">
              Cancel
            </ui-button>

            <ui-button type="submit" variant="primary" icon="create" [disabled]="isSaving || !isFormValid()">
              Create contact
            </ui-button>
          </div>
          <div class="text-danger fw-bold mt-2">
            @if (errorMessage)
            { {{ errorMessage }} }
          </div>
        </form>
      </div>
    </div>
  </div>
</ui-modal-wrapper>
